In [1]:
import pandas as pd
from pyspark.sql import functions as fn

In [2]:
# lets define a simple dataframe

data = {'A': ['a', 'b', None], 
        'B': [0, 1, 0],
        'C': [1, 0, 1],
        'D': [1, 0, 0]}
df = pd.DataFrame(data)
df = spark.createDataFrame(df)
display(df)

A,B,C,D
a,0,1,1
b,1,0,0
null,0,1,0

In [3]:
# now lets filter with a condition and its inverse - watch what happens to the row with a null value
df.show()
df.filter(df.A == "a").show()
df.filter(df.A != "a").show()

In [4]:
# because of pysparks SQL compatibility column names are not case sensitive
df2 = df.withColumnRenamed("B", "a")
df2.show()
# df2.select("A").show()
df2.select("a").show()
df2.withColumnRenamed("A", "e").show()

In [6]:
# sufficiently large ints will roll over to null without raising an error
# also floats seem to be able to hold larger abosolute values than they can operate on

data = {'LongIntCol': [1234567890, 123456789012345678, 1, 12345678901234567890, 1],
        'FloatCol': [1.0, 1.0, 123456789012345678, 1.0, 12345678901234567890.0]
       }
df = pd.DataFrame(data)
df = spark.createDataFrame(df)
df = df.withColumn("Multiplied", df.LongIntCol*df.FloatCol)
display(df)

FloatCol,LongIntCol,Multiplied
1.0,1234567890,1.23456789E9
1.0,123456789012345678,1.2345678901234568E17
1.2345678901234568E17,1,1.2345678901234568E17
1.0,null,null
1.2345678901234567E19,1,1.2345678901234567E19